files:
    /etc/pki/tls/certs/server.crt
        content: 
            -----BEGIN CERTIFICATE-----
            MIIDTTCCAjUCFEMVNajwIjsuwIPFpT0R0OZWLUMKMA0GCSqGSIb3DQEBCwUAMGMx
            CzAJBgNVBAYTAlVTMQswCQYDVQQIDAJVVDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5
            MRwwGgYDVQQKDBNEZWZhdWx0IENvbXBhbnkgTHRkMRIwEAYDVQQDDAlHb2xmU3Rh
            dHMwHhcNMjQwNTE4MTc1ODUxWhcNMjUwNTE4MTc1ODUxWjBjMQswCQYDVQQGEwJV
            UzELMAkGA1UECAwCVVQxFTATBgNVBAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UECgwT
            RGVmYXVsdCBDb21wYW55IEx0ZDESMBAGA1UEAwwJR29sZlN0YXRzMIIBIjANBgkq
            hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAje94HJJv5L6SvxTk5tT47J9Bdl4PL0MU
            DA3rMN7CFeriXmNRnY0iH/Log6KHkBMVVB6QMHKUJka/p++JJoK4T/mrsKxv4aa+
            TIe/FqcFm6PmuQ42v/g4O7E4CVTQ8oG26fLqqeXFnNDIw8Dvn+zUJwSreVp5RGLk
            U25Qo44AftOBiq+HbiaLwRH0AlB/ju4EklyiFQ2amuDaM6HoWeYjtYcmDFYmzDsr
            QfD/adSz5hMI0CLMZpGTsi8Y1PI5lxHl0i8uLpCVug68nL5UEVOtn4W2dZA/6g8Q
            dEVgEKDgHcqhRNICxvK3haziMHAOHp4ihjeimZwAxVMkSVnDkufs/wIDAQABMA0G
            CSqGSIb3DQEBCwUAA4IBAQA8ntRP43+Dv9+A1CnepgU+YJR7FzcQpRei++nHqD0D
            hvrus3yN7N2ZOWhG/NzCYLWn9nsifUEFKALEn7EdcwSmiCC5FJtNSpXxde99jikn
            2/oIENFKF1Dt7oCyB6wRZGBhzo3vqACqVIxlRhsNht8bRxvSh8mcqciesu5cMsiS
            4DaOTURVvFhu3fqOb8yuFaz7nNsHO/lOqG0yARD6LsbA0JKAMH/e0fpBpeojSHat
            SxRVm45wQYb0TZROMqWJhsKUGSR7s8XUFjBV478HxuU22SCrGW9VABXZaV+7NG1z
            PigEpLZ1AYA5cY+BqG/Ao6PqtwDJRXKDAmQ+M0ZDa6gv
            -----END CERTIFICATE-----   

container_commands:
    01restart_nginx:
        command: "service nginx restart"